[project]
name = "food-log"
version = "0.1.0"
description = "Add your description here"
readme = "README.md"
requires-python = ">=3.12"
dependencies = [
    "click>=8.3.1",
    "pillow>=12.1.1",
]

[dependency-groups]
dev = [
    "black>=26.1.0",
]
